node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

# dependencies
node_modules
**/node_modules

# editors
**/.idea
**/.#*
.vscode

# yarn
.yarn
.yarnrc

# npm
.npmrc

# prod
/build
*.tgz
*.tar
*.webm
*.zip
/test-results/
/reports/
/traces/
/videos/
/playwright-report/
/blob-report/
/playwright/.cache/
